$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;



.text-box2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
