<div class="header">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">CRICKET</span>
            <span class="heading-primary-sub">is where life begins</span>
        </h1>
        <!-- <a routerLink="/players" class="btn btn-white btn-animated btn-player">PLAYERS</a> -->
        <a routerLink="/bidding">
            <img src="../../assets/EAS.jpg" width="150px" height="170px" style="border-radius:50%"></a>

       
    </div>

    <div class="text-box2">
        <h1 style="color: darkblue; font-weight: bold;">EAS Cricket League</h1>
        <h3 style="color: darkblue; font-weight: bold;"> TCS - BHUBANESWAR</h3>
    </div>


</div>