<div class="header">

    <div class="bidding-top-section">
        <!-- [listStyle]="{'height':'250px', 'width':'100px'}" -->
        <div class="ui-g-6" style="height: 6vh;">
            <p-orderList [value]="players" [styleClass]="'bidding-list'" header="Players" filter="filter" filterBy="id" filterPlaceholder="Filter by Id"
                dragdrop="true" dragdropScope="cars">
                <ng-template let-player pTemplate="item">
                    <div class="ui-helper-clearfix" (click)="onPlayerSelection(player)">
                        <img src="{{player.imageUrl}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{player.name}} - {{player.project}}
                            - {{player.skill}}</div>
                    </div>
                </ng-template>
            </p-orderList>
        </div>
        <div *ngIf="selectedPlayer.id" class="ui-g-6" style="height: 6vh;">
            <p-card>
                <div style="text-align: center; margin-top:0px">
                    <h3 style="margin-top: 0px; color: orangered;">{{selectedPlayer?.name}}</h3>
                </div>
                <div style="text-align: center">
                    <div style="float: left; margin-right: 10%">
                        <img src="{{selectedPlayer?.imageUrl}}" width="175" height="200">
                    </div>
                    <table class="inline-block table-padding">
                        <tr>
                            <th style="width: 60px;">Id:</th>
                            <td style="text-align: left;">{{selectedPlayer?.id}}</td>

                            <th style="width: 30px;"></th>
                            <td></td>

                            <th style="width: 60px;">Skill:</th>
                            <td style="text-align: left;">{{selectedPlayer?.skill}}</td>
                        </tr>

                        <tr>
                            <th style="width: 60px;">Project:</th>
                            <td style="text-align: left;">{{selectedPlayer?.project}}</td>

                            <th style="width: 30px;"></th>
                            <td></td>

                            <th style="width: 60px;">Mobile:</th>
                            <td style="text-align: left;">{{selectedPlayer?.number}}</td>
                        </tr>
                    </table>
                    <!-- <table class="inline-block table-padding" cellspacing="10">
                        <tr>
                            <th style="width: 60px;">Skill:</th>
                            <td>{{selectedPlayer?.skill}}</td>
                        </tr>
                    </table>
                    <table class="inline-block table-padding">
                        <tr>
                            <th style="width: 60px;">Project:</th>
                            <td>{{selectedPlayer?.project}}</td>
                        </tr>
                    </table>
                    <table class="inline-block table-padding">
                            <tr>
                                <th style="width: 60px;">Mobile:</th>
                                <td>{{selectedPlayer?.number}}</td>
                            </tr>
                        </table> -->
                    <br>
                    <form #playerForm="ngForm">
                        <table class="inline-block table-padding">
                            <tr>
                                <th style="width: 60px;">Points:</th>
                                <td><input type="number" name="points" [(ngModel)]="selectedPlayer.price" class="input-point"
                                        id="usr"></td>

                            </tr>

                        </table>
                        <span style="color: red" *ngIf="isError">{{errorMsg}}</span>
                        <br>
                        <table class="inline-block table-padding">
                            <tr>
                                <th style="width: 60px;">Team:</th>
                                <td>
                                    <p-dropdown [options]="teams" name="teamselection" [appendTo]="'body'" [(ngModel)]="selectedTeam" [placeholder]="'Select Team'"
                                        required></p-dropdown>
                                </td>
                            </tr>
                        </table>

                        <div style="margin-top: 10px;">
                            <!-- <button type="button" class="btn btn-success">Success</button> -->
                            <p-button label="Save" [disabled]="!playerForm.form.valid" (click)="assignPlayerToTeam()"></p-button>
                        </div>
                    </form>
                </div>
            </p-card>
        </div>
    </div>
   
    <div class="bidding-bottom-section" style="text-align: center; margin:auto">
        <div class="ui-g-12 " style="text-align: center; margin:auto">
            <ng-template let-team let-last="last" ngFor [ngForOf]="allTeams" let-i="index">
                <div class=" team-card" style="margin-right: 20px">
                    <div style="text-align: center;
                    color: #000;
                    font-weight: bold;">
                        <img src={{team.imageUrl}} alt={{team.teamName}} width="45px" height="45px">
                        <h3 style="display:inline-block; margin-right: 7px; font-size: 20px; font-weight: bold;
                        color: darkblue; margin-left: 5px;">{{team.teamName}}

                        </h3>
                        <h3 style="display:inline-block;  color: green; font-size: 12px;
                        font-weight: bold;">{{team.amount}} </h3>
                        <span style="margin-right:2px;margin-left:2px">/</span>
                        <h6 style="display:inline-block; font-size: 12px; font-weight: bold;color: red; margin-right: 7px;">{{team.maxBidAmount}}</h6>
                        <h3 style="display:inline-block; font-size: 15px; font-weight: bold;">{{team?.members?.length}}</h3>

                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4 custom-header">
                            Name
                        </div>
                        <div class="ui-g-4 custom-header">
                            Price
                        </div>
                        <div class="ui-g-4 custom-header">
                            Skill
                        </div>

                    </div>
                    <hr>
                    <ng-template let-player let-last="last" ngFor [ngForOf]="team.members" let-i="index">
                        <div class="ui-g-12 list " style="padding: 0.1em;">
                            <div class="ui-g-4 custom-text" style="padding: 0.1em;">{{player.name}}</div>
                            <div class="ui-g-4 custom-text" style="padding: 0.1em;">{{player.price}}</div>
                            <div class="ui-g-4 custom-text" style="padding: 0.1em;">{{player.skill}}</div>
                        </div>
                        <hr>
                    </ng-template>
                </div>
            </ng-template>
            <!-- <div class="ui-g-3">
                <ng-template let-royal let-last="last" ngFor [ngForOf]="royals" let-i="index">
                    <div class="ui-g-12 list">
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                    </div>
                </ng-template>
            </div>
            <div class="ui-g-3">
                <ng-template let-royal let-last="last" ngFor [ngForOf]="royals" let-i="index">
                    <div class="ui-g-12 list">
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                    </div>
                </ng-template>
            </div>
            <div class="ui-g-3">
                <ng-template let-royal let-last="last" ngFor [ngForOf]="royals" let-i="index">
                    <div class="ui-g-12 list">
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                        <div class="ui-g-3"></div>
                    </div>
                </ng-template>
            </div> -->
        </div>

    </div>
</div>